.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

::deep .nav-link,
::deep .nav-link-placeholder {
    display: block;
    color: #d7d7d7;
    padding: 0.5rem 1.25rem;
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 0.1rem 0.5rem;
}

::deep a.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

::deep a.nav-link.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

::deep .nav-link-placeholder {
    color: #888;
    font-style: italic;
    font-size: 0.8rem;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
